/* dark.css */
.dark-theme .app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dark-theme .store-header {
  background-color: #000000;
  width: 100%;
  padding: 20px 0;
}

.dark-theme .store-name {
  font-size: 50px;
  font-weight: bold;
  color: #eed64b;
}

.dark-theme .navbar {
  background-color: #626262;
  color: #ffffff;
  width: 100%;
}

.dark-theme .nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dark-theme .nav-links li {
  margin: 0 20px;
}

.dark-theme .nav-links a {
  text-decoration: none;
  color: #fff5bc;
  font-weight: bold;
}

.dark-theme .content {
  padding: 20px;
  text-align: center;
}

.dark-theme .homepage-images img{
  width: 400px; 
  height: auto; 
  margin: 10px; 
}

.dark-theme .contactbar {
  background-color: #000000; 
  text-align: center;
  color: #ffffff;
  width: 99.5%;
  line-height: 1;
  padding: 5px;
}

.dark-theme .aboutsection {
  background-color: #404040; 
  border: 2px solid #000000; 
  padding: 20px;
  font-family: Apple Chancery, cursive;
  font-size: var(--base-font-size);
  color: #c7e1ff; 
}

.dark-theme .theme-toggle {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  width: 200px;
}

.dark-theme .modebutton{
  background-color: rgb(71, 71, 71);
  padding-left: 757px;
  padding-right: 757px
}

.dark-theme .page-container {
  background-color: rgb(71, 71, 71); 
  color: white;
}

.dark-theme .categories {
  color: white;
}

.dark-theme .cashierorder {
  margin-left: 600px;
  margin-right: 600px;
}

